.site-header {
  background-color: rgba(246,246,246, 0.9);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.site-title {
  height: 100%;
  padding: 0 25px;
  margin: 0 0 0 20px;
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.right-nav {
  @include ul-clean;
  margin: 0 16px 0 0;
  height: 100%;
  display: flex;
  align-items: center;

  .material-icons {
    font-size: 30px;
  }

  &__item {
    margin-left: 15px;
  }
}
